:where(.css-dev-only-do-not-override-11mmrso).ant-btn-color-dangerous.ant-btn-variant-outlined, :where(.css-dev-only-do-not-override-11mmrso).ant-btn-color-dangerous.ant-btn-variant-dashed{
    background: black;
}

/* -------------------------
   ADMIN DASHBOARD GLOBAL
-------------------------- */
.admin-dashboard {
  padding: 30px;
}
.calendar-dot-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.calendar-dot {
  background: #ff4d4f;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 12px;
}

.ant-table {
  overflow-x: auto;
}

/* -------------------------
   MODAL CENTER FIX
-------------------------- */
.ant-modal-root .ant-modal {
  top: 150% !important;
  transform: translateY(-50%) !important;
  margin: 0 auto !important;
  padding-bottom: 0 !important;
}

/* Prevent parent flex issues */
.ant-modal-wrap {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 20px;
}

/* -------------------------
   FORM RESPONSIVE GRID
-------------------------- */

.ant-form-item {
  width: 100%;
}

.product-upload-btn .ant-btn {
  width: 100%;
}

/* -------------------------
   MOBILE RESPONSIVE
-------------------------- */
@media (max-width: 768px) {
  /* Modal full width on mobile */
  .ant-modal {
    width: 95% !important;
  }

  /* Stack form columns */
  .ant-row {
    flex-direction: column;
  }

  .ant-col {
    width: 100% !important;
  }

  .ant-upload {
    width: 100%;
  }
}

/* -------------------------
   BUTTON & ICON FIX
-------------------------- */
.popconfirm-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
