:where(.css-dev-only-do-not-override-11mmrso).ant-btn-color-dangerous.ant-btn-variant-outlined, :where(.css-dev-only-do-not-override-11mmrso).ant-btn-color-dangerous.ant-btn-variant-dashed{
    background: black;
}